<header class="header">
      <a href="/"><img src="img/logo.jpg" alt="logo" class="logo" /></a>

      <nav class="nav">
        <button id="menuButton" class="button">меню</button>
        <button class="button"><a href="/map">Наши заведения</a></button>
      </nav>
    </header>