<header class="header">
      <a href="/"><img src="img/logo.jpg" alt="logo" class="logo" /></a>

      <nav class="nav">
        <button id="menuButton" class="button"><a href="/menu">Меню</a></button>
        <button class="button"><a href="/map">Наши заведения</a></button>

      <a href="/user/register"><img src="img/account_circle.png" alt="user" class="logo" /></a>

      </nav>

    </header>