<div class="card">
  <h3>{{type}}</h3>
  <img src="/img/GK_shawa.png" alt="photo" class="cardImg" />

    <button class="button" id="deleteButton" style="background-color: red;">Удалить</button>

</div>