<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/userPageStyle.css">
    <script src="js/userPageScript.js" defer></script>
  </head>
  <body>
    {{> header}}


  <div class="container">

    <div class="buttons">
        <button id="b1" class="halfButton" style="background: none;">Персональная информация</button>
        <button id="b2" class="halfButton">история заказов</button>
      </div>

     <div class="contentDiv">
      <p>Персональная информация</p>
      <ul type="none" style="text-decoration: underline;">
        <li>логин: {{login}}</li>
        <li>пароль: {{password}}</li>
        <li>почта: {{email}}</li>
      </ul>
      </div>

      </div>

      <button id="logOutButton" class="button" style="background-color: red;">выйти из профиля</button>



  </body>
</html>