<form id="createForm" action="/api/user/code" method="POST" class="container">
        <div>
          <input type="number" placeholder="введите полученный код" name="code" required />
        </div>
        <div>
          <button class="button" id="sendCodeButton">отправить</button>
        </div>
      </form>