<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/userPageScript.js" defer></script>
  </head>
  <body>
    {{> header}}

     <div>
      <p>Персональная информация</p>
      <ul>
        <li>{{login}}</li>
        <li>{{password}}</li>
        <li>{{email}}</li>
      </ul>
      </div>
  </body>
</html>